// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
#app {
  margin: 0 auto;
  font-weight: normal;
}
.link {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.8em;
    overflow: auto;
    a {
        text-decoration: none;
        color: #000;
    }
}